*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}
p{
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #1E1E1E;
}

.parent {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 2 / 1 / 6 / 2; }
  .div2 { grid-area: 3 / 2 / 5 / 3; }
  .div3 { grid-area: 2 / 3 / 4 / 4; }
  .div4 { grid-area: 4 / 3 / 6 / 4; }
  .div5 { grid-area: 5 / 2 / 6 / 3; }
  .div6 { grid-area: 2 / 2 / 3 / 3; }
  .div7 { grid-area: 1 / 3 / 2 / 4; }
  .div8 { grid-area: 1 / 1 / 2 / 3; }


  /* header */
.header{
  grid-area: 1 / 1 / 2 / 3;
  margin-top: 10px;
  max-width: 70%;
  height: 93px;
  margin-left: 2%;
  display: flex;
}

.header h1{
  padding-top: 20%;
}

.header .logo{
  padding-top: 5.5%;
}

.search{
  margin-top: 4%;
  margin: auto;
  margin-left: 10%;
  width: 30%;
}

input{
  width: 150%;
  height: 35px;
  border-radius: 10px;
}

/*Menu */

.iconblock{
  height: 60vh;
  width: 20%;
  display: block;
  grid-area: 2 / 1 / 6 / 2;

}

.iconAndTxt{

  margin-left: 17.5%;
  display: flex;
}
.iconAndTxt p{
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.icon{
  margin-top: 20px;
  margin-left: 90%;
  width: 40px;
  height: 35px;
  
}

.dashbord{
  margin-left: 2%;
  width: 200px;
  height: 50px;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  align-items: center;
  display: flex;
  margin: 50px 30px 50px 30px;
  

}
.dashbord p{
  margin-left: 15px;
}

.dashIcon{
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.log{
  margin-top: 200px;
  margin-bottom: 3%;
  margin-left: 5%;
  display: flex;
  margin-left: 90%;
}

.log p{
  margin: auto;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}


/* Right transaction */

.top{

  margin-bottom: 10%;
  background-color: red;
  width: 90%;
  height: 100%;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  justify-content: space-between;

}

.top img{
  padding-right: 250px;
}
#login{
  padding-right: 0px;
}

.cripto{
  grid-area: 2 / 3 / 4 / 4;
  background-color: #6C1182;

}

.criptoimg{
  margin-left: 20px;
  
}

.criptoblock{
  display: flex;
}